{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>Events</h1>
        <ul class="list-group">
            {% for event in events %}
                <li class="list-group-item list-group-item-action list-group-item-dark">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ event.id }}</h6>
                        <p class="card-text">Participants : {{ event.participants }}</p>
                        <div class="card-text">Début : {{ event.date.start|date('d/m/Y H:i:s') }}</div>
                        <div class="card-text">Fin : {{ event.date.end|date('d/m/Y H:i:s') }}</div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}