{% extends 'base.html.twig' %}

{% block test %}
    {% if participants|length > 0 %}
        <div class="row">
            {% for participant in participants %}
                <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 mb-2">
                    <div class="card border-dark mb-3 mx-4 mx-sm-3 mx-md-0">
                        <div class="card-header text-white bg-primary">
                            <div class="d-flex align-items-center">
                                <div class="mr-auto">{{ participant.owner.firstName }} {{ participant.owner.lastName|upper }}</div>
                                <div class="btn-group" role="group">
                                    <a href="{{ path('getPdfBadge', {'eventID': participant.idEvent, 'ticketID': ticket.id, 'participantID': participant.idParticipant}) }}" type="button" class="btn btn-success" title="Télécharger le badge">
                                        <i class="far fa-id-badge fa-lg"></i>
                                    </a>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                                            data-url="{{ path('deleteParticipant', {'eventID': participant.idEvent, 'ticketID': ticket.id, 'participantID': participant.idParticipant}) }}"
                                            title="Supprimer le badge">
                                        <i class="far fa-trash-alt fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            {% for answer in participant.answers %}
                                {% if answer.value|lower != participant.owner.firstName|lower and answer.value|lower != participant.owner.lastName|lower %}
                                    <p class="card-subtitle">{{ answer.label }}: {{ answer.value }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="card-footer text-muted">
                            <p class="card-subtitle small">{{ participant.idParticipant }} - {{ participant.createDate|date('d/m/Y H:i:s') }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-primary mt-4" role="alert">
            Il n'y a aucun badge dans cette catégorie.
        </div>
    {% endif %}
{% endblock %}

{% block body %}

    {% if isTeam %}
        <h1 class="mb-4">{{ ticket.name|title }} ({{ teams|length }} teams, {{ ticket.participants }} joueurs)</h1>
        <div class="mt-4">
            <ul class="list-group">
                {% for team in teams %}
                <a class="list-group-item list-group-item-action list-group-item-primary d-flex align-content-center" data-toggle="collapse" href="#collapseCategory_{{ team.id }}" role="button" aria-expanded="false" aria-controls="collapseCategory_{{ team.id }}">
                    <h5 class="my-2">{{ team.name }}</h5>
                </a>
                <div class="collapse" id="collapseCategory_{{ team.id }}">
                    <div class="m-2 mt-4">
                        {% with {'participants': team.members} %}
                        {{ block('test') }}
                        {% endwith %}
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <h1 class="mb-4">{{ ticket.name|title }} ({{ ticket.participants }})</h1>
    {% endif %}

    {% if participants|length > 0 %}
        <div class="row mt-4">
            {% for participant in participants %}
                <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 mb-2">
                    <div class="card border-dark mb-3 mx-4 mx-sm-3 mx-md-0">
                        <div class="card-header text-white bg-primary">
                            <div class="d-flex align-items-center">
                                <div class="mr-auto">{{ participant.owner.firstName }} {{ participant.owner.lastName|upper }}</div>
                                <div class="btn-group" role="group">
                                    <a href="{{ path('getPdfBadge', {'eventID': participant.idEvent, 'ticketID': ticket.id, 'participantID': participant.idParticipant}) }}" type="button" class="btn btn-success" title="Télécharger le badge">
                                        <i class="far fa-id-badge fa-lg"></i>
                                    </a>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                                            data-url="{{ path('deleteParticipant', {'eventID': participant.idEvent, 'ticketID': ticket.id, 'participantID': participant.idParticipant}) }}"
                                            title="Supprimer le badge">
                                        <i class="far fa-trash-alt fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                        {% for answer in participant.answers %}
                            {% if answer.value|lower != participant.owner.firstName|lower and answer.value|lower != participant.owner.lastName|lower %}
                                <p class="card-subtitle">{{ answer.label }}: {{ answer.value }}</p>
                            {% endif %}
                        {% endfor %}
                        </div>
                        <div class="card-footer text-muted">
                            <p class="card-subtitle small">{{ participant.idParticipant }} - {{ participant.createDate|date('d/m/Y H:i:s') }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-primary mt-4" role="alert">
            Il n'y a aucun badge dans cette catégorie.
        </div>
    {% endif %}

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Supprimer un badge</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Veuillez confirmer la suppression du badge. Cette opération est définitive et le titulaire ne sera pas automatiquement alerté.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('#deleteModal').on('show.bs.modal', function (e) {
                $('div.modal-footer', '#deleteModal').append(
                    $('<a></a>')
                        .attr('href', $(e.relatedTarget).attr('data-url'))
                        .addClass('btn btn-primary')
                        .attr('type', 'button')
                        .html("Supprimer")
                );
            })
        });
    </script>
{% endblock %}