{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mb-4">{{ eventTickets.name }}</h1>
    <div class="alert alert-danger d-none js-alert-box" role="alert"></div>
    {% if eventTickets.categories|length > 0 %}
        <ul class="list-group">
            {% for category in eventTickets.categories %}
                <a class="list-group-item list-group-item-action list-group-item-primary d-flex align-content-center" data-toggle="collapse" href="#collapseCategory_{{ category.id }}" role="button" aria-expanded="false" aria-controls="collapseCategory_{{ category.id }}">
                    <h5 class="my-2">{{ category.name }}</h5>
                    {% if DefaultCategory is not null and DefaultCategory.eventID == eventTickets.id and DefaultCategory.categoryID == category.id %}
                        <button type="button" data-eventID="{{ eventTickets.id }}" data-categoryID="{{ category.id }}"
                                class="js_default_event_btn btn btn-success ml-auto"
                                title="Catégorie par défaut">
                            <i class="fas fa-lock"></i>
                        </button>
                    {% else %}
                        <button type="button" data-eventID="{{ eventTickets.id }}" data-categoryID="{{ category.id }}"
                                class="js_default_event_btn btn btn-primary ml-auto"
                                title="Définir la catégorie des badges par défaut">
                            <i class="fas fa-lock-open"></i>
                        </button>
                    {% endif %}
                </a>
                <div class="collapse" id="collapseCategory_{{ category.id }}">
                    <ul class="list-group list-group-flush">
                        {% for ticket in category.tickets %}
                            <a class="list-group-item list-group-item-action" href="{{ path('eventParticipantsByTicketPage', {'eventID': eventTickets.id, 'ticketID': ticket.id}) }}">
                                <div class="card-body ml-4 p-1 p-md-2">
                                    <h5 class="card-title mb-0">{{ ticket.name }}</h5>
                                    <p class="card-text">
                                        Participants : {{ ticket.participants }}
                                        {% if ticket.quotas > 0 %}
                                            /{{ ticket.quotas }}
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <h3 class="mt-5">Aucune catégorie n'existe pour cet événement</h3>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('.js_default_event_btn').on('click', null, function (e) {
                e.preventDefault();
                e.stopPropagation();
                $.ajax({
                    url: "{{ path('adminSetDefaultCategory') }}",
                    type: 'POST',
                    data: JSON.stringify({'eventID': $(e.currentTarget).attr('data-eventID'), 'categoryID': $(e.currentTarget).attr('data-categoryID')}),
                    success: function () {
                        $('.js_default_event_btn')
                            .html('')
                            .append($('<i>').addClass('fas fa-lock-open'))
                            .removeClass('btn-success').addClass('btn-primary')
                            .attr('title', "Définir la catégorie des badges par défaut");

                        $(e.currentTarget)
                            .html('')
                            .append($('<i>').addClass('fas fa-lock'))
                            .removeClass('btn-primary').addClass('btn-success')
                            .attr('title', "Catégorie par défaut");
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        $('.js-alert-box').removeClass('d-none').html( errorThrown + ( jqXHR.responseText !== undefined ? ': '+jqXHR.responseText : '' ));
                    }
                });
            });
        });
    </script>
{% endblock %}