{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ ticket.name }} ({{ ticket.participants }})</h1>
    <div class="row mt-4">
        {% for participant in participants %}
            <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 mb-2">
                <div class="card border-dark mb-3 mx-4 mx-sm-3 mx-md-0">
                    <div class="card-header text-white bg-primary">{{ participant.owner.firstName }} {{ participant.owner.lastName|upper }}</div>
                    <div class="card-body">
                    {% for answer in participant.answers %}
                        {% if answer.value|lower != participant.owner.firstName|lower and answer.value|lower != participant.owner.lastName|lower %}
                            <p class="card-subtitle">{{ answer.label }}: {{ answer.value }}</p>
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="card-footer text-muted">
                        <p class="card-subtitle">{{ participant.createDate|date('d/m/Y H:i:s') }}</p>
                    </div>
                </div>
            </div>

{#            <div class="list-group-item list-group-item-action list-group-item-primary px-1 py-2">#}
{#                <div class="card-body p-0">#}
{#                    <h5 class="card-title">{{ participant.owner.firstName }} {{ participant.owner.lastName|upper }}</h5>#}

{#                    {% for answer in participant.answers %}#}
{#                        {% if answer.value|lower != participant.owner.firstName|lower and answer.value|lower != participant.owner.lastName|lower %}#}
{#                            <h6 class="card-subtitle mb-2 text-muted">{{ answer.label }}: {{ answer.value }}</h6>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}

{#                    <h6 class="card-subtitle mb-2 text-muted">{{ participant.idParticipant }}</h6>#}
{#                    <div class="card-text">{{ participant.createDate|date('d/m/Y H:i:s') }}</div>#}
{#                </div>#}
{#            </div>#}
        {% endfor %}
    </div>
{% endblock %}